.page {
  width:auto;
  height:auto;

}

#article_title {
  color: pink;
  font-size: 80px;
}

#intro {
 font-size: 60px;
 color: blue;
}
.question{
font-size: 24px;
color: red;
}

.answer{
font-size: 25px;
color: green;
}

#block_quote {
font-size: 30px;
color: darkred;
}
body {
  background-image: url("https://image.shutterstock.com/image-photo/old-newspaper-background-grunge-paper-260nw-1513625615.jpg");
  size: auto;
}